Main_Bare_Imports/__pycache__/Settings.cpython-311.pyc
Main_Pi.py
__pycache__/Main_Pi.cpython-311.pyc
Main_Bare_Imports/__pycache__/Connection.cpython-310.pyc
Main_Bare_Imports/__pycache__/Connection.cpython-311.pyc
Main_Bare_Imports/__pycache__/Read.cpython-311.pyc
Main_Bare_Imports/__pycache__/Settings.cpython-310.pyc
Resources/__pycache__/config.cpython-311.pyc
Main_Bare_Imports/__pycache__/Read.cpython-310.pyc
PyConsult_testing.ipynb
Utils/__pycache__/Connection.cpython-310.pyc
Utils/__pycache__/Connection.cpython-311.pyc
Utils/__pycache__/Connection.cpython-312.pyc
Utils/__pycache__/Read.cpython-310.pyc
Utils/__pycache__/Read.cpython-311.pyc
Utils/__pycache__/Read.cpython-312.pyc
Utils/__pycache__/Settings.cpython-310.pyc
Utils/__pycache__/Settings.cpython-311.pyc
Utils/__pycache__/Settings.cpython-312.pyc
